html, body {
  margin: 0px;
  background-color: rgb(28, 29, 54);
  color: rgb(187, 187, 187);
}
#map {
  width: 90%;
  height: 20rem;
  border: 1px solid #ccc;
  margin: 2rem auto;
}


#address {
  border-radius: 12px;
  padding: 6px 24px;
}

#searchButton {
  border-radius: 12px;
  transition-duration: 0.4s;
  padding: 6px 24px;
}

#searchButton:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
